@charset "utf-8";
body{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
/* PC용 로그인 */
.login{
    width: 600px;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px;
}
.id {
    display: block;
    width: 155px;
    height: 40px;
    line-height: 40px;
    /* padding-top: 12px; */
    box-sizing: border-box;
    float: left;
}
.div_in {
    width: 300px;
    height: 40px;
    background-color: green;
    float: left;
}
.in{ /* div_in이라는 클래스에 사이즈를 상속 받아서 처리함 */
    width: inherit;
    height: inherit;
    box-sizing: border-box;
}
.margins{
    margin-top: 10px;
}
.login_btn{ /* 빈태그 형태의 구성을 적용 하였으므로 display를 체크 필요 */
    display: inline-block;  /* m5.html에서 적용된 사항의 예시 */
    width: 100px;
    height: 90px;
    margin-left: 13px;
}
.btn{
    width: inherit;
    height: inherit;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
.join {
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
/* 테블릿 PC 용 및 14인치 이하 노트북 */
@media screen and (min-width:500px) and (max-width:1024px) {
    /* 반응형에 적용시에는 변경할 속성 값만 가져와서 설정하시면 쉽게 웹페이지를 제작할 수 있습니다. */
   .login{
        width: 500px;
        height: 280px;   
    }
    .login_btn{
        margin-top: 10px;
        margin-left: 0px;
        width:455px;
        height: 40px;
    }
}
/* 스마트폰  */
@media screen and (min-width:360px) and (max-width:499px) {
    body{
        padding: 0 5px 0 5px;
    }
    .login{
        width: 100%;
        height: 240px;
    }
    .div_in {
        width: 100%;
    }
    .id {
        display: none;
    }
    .login_btn{
        margin-top: 10px;
        margin-left: 0px;
        width:100%;
        height: 40px;
    }
}