@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}
/* 모바일로 세로 사이즈 */
.mid {
    width: 800px;
    height: 30px;
    box-sizing: border-box;
}
/* 
@media : 디바이스별 가로사이즈 기준을 기점으로 css를 변화시키는 속성 
screen : 컴퓨터 모니터 및 태블릿, 스마트폰 모두 screen으로 사용됨
print : 인쇄 미리보기를 활용할 때 사용하는 속성
all : screen과 print 모두 활용하는 미디어 속성
*/
/* 접속하는 디바이스의 가로 사이즈가 750px 이하 일 경우 적용되는 style */
@media screen and (min-width:340px) and (max-width:420px) {
    .mid {
        width: 100px;
    }
}
/* min-width : 접속하는 디바이스의 최소 가로사이즈, max-width : 접속하는 디바이스의 최대 가로 사이즈 */
@media screen and (min-width:421px) and (max-width:1024px) {
    .mid {
        width: 300px;
    }
}