@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}
.subject{
    width: 200px;
    height: 30px;
    background-color: orange;
    border-radius: 30px;
    text-indent: 10px;
}
.ulcss{
    list-style: none;
    margin: 0;
    padding: 0;
}