@charset "utf-8";
/* a 태그 전용으로 밑줄 및 글자 색상 유지하는 코드 */
a{
    text-decoration: none; /* a태그 사용시 밑줄 부분을 출력하지 않음 */
    color: black; /* a태그 사용시 blue, purple 적용하지 않고 무조건 검정색으로 출력시키는 형태 */
}

.top_width{
    width: 1200px;
    height: inherit;
    margin: 0 auto;
}
/* > 를 이용하여 적용하는 방식 해당 클래스 안에 소속된 클래스를 적용하는 방식기호 */
.top_width > .top1{
    display: block;
    width: inherit;
    height: 80px;
    text-align: center;
}
.top_width > .top2{
    display: block;
    width: inherit;
    height: 70px;
}
/* 로고만 해당 세로기준 가운데 적용이 되도록 설정함 */
.logo {
    position: relative;
    width:200px;
    top:16.5px; /* 소수점도 적용 가능함 */
}
.top2_left{
    width: 200px;
    height: inherit;
    line-height: 70px;
    float: left;
}
.top2_center{
    width: 600px;
    height: inherit;
    float: left;
}
.top2_right{
    width: 400px;
    height: inherit;
    line-height: 70px;
    text-align: right;
    float: left;
}

.search {
    position: relative;
    top:10px;
    width: 600px;
    height: 50px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 600;
}