@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}
/* background 이미지 적용시 오브젝트의 크기를 이미지 크기와 동일하게 적용하는 부분이 중요합니다. */
.sh {
    width:586px;
    height:57px;
    /* background-image : 이미지를 가져와서 해당 오브젝트 배경으로 적용하는 방식
       경로는 url() 속성을 이용하여 적용하게 됩니다.
    */
    background-image: url("./search.png");
}
.search{
    width: 450px;
    height: 50px;
    box-sizing: border-box;
    /* maring-top : 오브젝트(div) 기준으로 상단 3px 만큼 내려서 출력 */
    margin-top: 3px; /* -값도 적용가능 함 */
    /* maring-left : 오브젝트 기준으로 왼쪽에서 3px 만큼 움직임 */
    margin-left: 3px;
    
    border: 0;
    font-size: 20px;
    font-weight: 600;   /* 폰트의 굵은체의 범위 100 ~ 900까지 적용 */

    /* input에만 사용하는 속성이며, 사용자가 입력시 외각선을 출력하지 않도록 하는 속성 */
    outline-style: none; 
    text-indent: 10px; /* 사용자가 입력한 커서의 위치를 들여쓰기 할 수 있도록 하는 속성 */
}

.mid{
    width: 250px;
    height: 45px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid blue;
}




