@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}
/*
position 속성 : 오브젝트의 성격을 변화시키는 속성값 (static,relative,absolute)
모든 오브젝트의 기본 position(static) => 무조건 margin을 사용해야함
position(relative) => margin도 사용가능하며, top, left를 사용할 수 있음
position(absolute) => top, left, right, bottom만 사용할 수 있음

static 절대 함께 사용 불가 absolute
static => static, relative
relative => relative, absolute
absolute => absolute
*/


.box {
    position: static;
    width: 500px;
    height: 500px;
    background-color: blue;
}
/*
.box2{
    position: static;
    width: 300px;
    height: 300px;
    background-color: orange;
    margin-top: 100px;
}
*/
/*
.box2{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: orange;
    top: 100px;
    left:50px;
}
*/
.box2{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: orange;
    right: 0px;
}