@charset "utf-8";
body{
    position: relative;
    margin: 0;
    padding: 0;
}
.popup{
    position: relative;
    width: 400px;
    height: 650px;
    background-color: orange;
    top: 100px;
    left: 500px;
}
.close{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    right: 0px;
}