@charset "utf-8";
body{
    position: relative;
    margin: 0;
    padding: 0;
}
.popup{
    position: relative;
    width: 400px;
    height: 650px;
    background-color: orange;
    top: 100px;
    left: 500px;
}
.close{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    right: 0px;
}

/* 응용문제 */
/*
.box1{
    position: static;
    width: 300px;
    height: 300px;
    background-color: black;
}
.bbox1,.bbox2{
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100px;
}
.bbox1{
    left: 100%;
    margin-left: -100px;
}
.bbox2{
    left: 100%;
    margin-left: -100px;
    top:100px;
}
*/

.box1{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: black;
}
.bbox1,.bbox2{
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100px;
}
.bbox1 {
    right: 0;
}
.bbox2{
    right: 0;
    bottom: 0;
}
